# SENTRY_DSN is a special case : it won't be included in the Settings class
# nor it will be registered anywhere.
# Instead, the sentry_sdk library automatically read thid environment variable
# during its initialization.
# If you don't have a sentry instance running
# (e.g. if you are in a dev environment and don't want to setup sentry),
# you can remove this variable in your own `.env` file
SENTRY_DSN=<url>

# Token of the Discord bot
BOT__TOKEN=<token du bot discord trouvable ici : https://discord.com/developers/applications>
# Log level (see logging library, defaults to INFO if undefined or invalid)
BOT__LOG_LEVEL=DEBUG

# School's Central Authentification System
AUTH_API__URL=https://cas.utt.fr/cas
AUTH_API__REDIRECT_URL=<url de la redirection du service d'auth>

SERVER_URL=http://127.0.0.1:3000

# Timezone of the bot and the Docker Image
TZ=Europe/Paris
