# Dotenv file
*.env

# IDE folder
.idea/
.vscode/

# Python venv
.venv/
venv/

# Python and Ruff cache
__pycache__/
.ruff_cache/

# Logs folder
logs/

# Compiled documentation
/site/

# Data files
/data/*
!/data/*.example.*
