[bot]
token = "fill me"
# Log level (see logging library, defaults to INFO if undefined or invalid)
log_level = "DEBUG"
# Check doc to see status and activity type allowed
status = "online"

[bot.activity]
type = "custom"
name = "a"
# Text displayed if activity type is custom (need name to not be empty)
state = "I'm awesome"


[etu_api]
# Student website application credentials (OAuth 2)
url = "https://etu.utt.fr/api"
client_id = 12345678912345
client_secret = "fill me"

[guild]
# general configuration of the main guild
id = 1234567891234567890
# Channel where the bot sends info about his status and admins will use commands to manage the server
channel_admin_id = 1234567891234567890

[guild.special_roles]
# id of the main roles that doesn't change
admin = 1234567891234567890
moderator = 1234567891234567890
student = 1234567891234567890
teacher = 1234567891234567890
former_student = 1234567891234567890


[[categories]]
name = "ME"
id = 1234567891234567890
elected_role = 1234567891234567890
ues = ["IT", "LE", "LG", "LS", "LC", "KO", "LF", "SI10"]

[[categories]]
name = "TC"
id = 1234567891234567890
elected_role = 1234567891234567891
ues = ["MT01", "MT02", "PHYS11", "GL01", "TNEV"]
