<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>EtuUTT Discord Roles</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
