<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}EtuUTT Discord Roles{% endblock %}</title>

    <link rel="stylesheet" href="/styles/modern-normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
<main>
    {% block content %}{% endblock %}
</main>
{% block scripts %}{% endblock %}
</body>
</html>
