{% extends "base.html.jinja" %}

{% block content %}
    <div class="container">
        <div class="error-box">
            <p>{{ error }}</p>
            <a href="/">Revenir au départ et recommencer !</a>
        </div>
        <img src="/images/ung.png" alt="UNG Logo">
    </div>
{% endblock %}
