{% extends "base.html.jinja" %}

{% block content %}
    <div class="container">
        <div class="error-box">
            <h1 class="big-title">Erreur</h1>
            <p>{{ error|safe }}</p>
            <a href="/">Revenir au départ et recommencer !</a>
        </div>
        <img src="/images/ung.png" alt="UNG Logo">
    </div>
{% endblock %}
