{% extends "base.html.jinja" %}

{% block title %}Erreur {{ status }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="error-box">
            <h1>Erreur {{ status }}</h1>
            <p>Raison : {{ reason }}</p>
            <a href="/">Revenir au départ et recommencer !</a>
        </div>
        <img src="/images/ung.png" alt="UNG Logo">
    </div>
{% endblock %}
